html {
	background:url("images/donuts.jpg");
	background-size: cover;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=84409), auto;
}
h1 {
	color: #000000;
	text-align: center;
	font-size: 60px;
	font-family: Papyrus;
	font-weight: bold;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=84409), auto;
}
body {
	font-family: Papyrus;
	font-size: 50px;
	color: #E0FFE9;
	font-weight: bold;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=84409), auto;
}
a {
	color: #000000;
	font-weight: bold;
}
p { 
	color: #000000;
	font-weight: bold;
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=84409), auto;
}