html {
	background:url("images/kkvsdd.jpg");
	background-size: cover;
}
h1 {
	color: #000000;
	text-align: center;
	font-size: 60px;
	font-family: Arial;
	font-weight: bold;
}
body {
	font-family: Arial;
	font-size: 50px;
	color: #E0FFE9;
	font-weight: bold;
	cursor: url(http://cur.cursors-4u.net/cursors/cur-8/cur719.cur), auto;
}
a {
	color: #000000;
	font-weight: bold;
}
p { 
	color: #000000;
}